.navbar {
  font-size: 1.0625em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.jumbotron {
  background-color: #f5f9fc;
  scroll-padding-top: 1;
  padding-top: 2rem;
  padding-bottom: 0px;
}
